{{#each this}}
<a class="news__item" href={{url}} target="_blank">
<h2>{{title}}</h2>
    <img class="news__image" src={{urlToImage}} alt={{description}} width="200"/>

<p>{{content}}</p>
</a>
<hr>
{{/each}}



{{!-- author: "FDA"
content: "How did FDA arrive at the decision to approve Spikevax (COVID-19 Vaccine mRNA)? What is different now when compared to the December 2020 authorization of Moderna COVID-19 Vaccine?\r\nFDA conducted a th… [+8978 chars]"
description: "Q&A document with information about FDA's recent approval of Moderna's Spikevax (COVID-19 Vaccine, mRNA)."
publishedAt: "2022-02-02T18:22:54Z"
source: {id: null, name: 'FDA.gov'}
title: "Q&A for Spikevax (COVID-19 Vaccine mRNA)"
url: "https://www.fda.gov/vaccines-blood-biologics/qa-spikevax-covid-19-vaccine-mrna"
urlToImage: "https://www.fda.gov/themes/custom/pr --}}